.container {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.botao.secundario {
  background: var(--cor-10);
  color: var(--cor-2);
}
.botao.secundario:hover {
  background: var(--cor-9);
}
.botao.seta::after {
  content:'';
  display:inline-block;
  width:18px;
  height:10px;
  margin-left: 12px;
  background: url('../img/icones/seta.svg');
  transition: transform 0.2s;
}
.botao.seta:hover::after{
  transform: translateX(4px);
}
.botao {
  display: inline-block;
  font-size: 18px;
  line-height: 1.33;
  color: #332200;
  background: linear-gradient(#ffbb00, #f2a50c);
  padding: 16px 32px;
  border-radius: 4px;
  font-family: Arial;
  font-weight:600;
  max-width: max-content;
}
.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}
.titulo-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--cor-11);
}
.titulo p {
margin-bottom: 4px;
}
@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
}
 .titulo p {
  font-size: 1rem;
  text-transform: lowercase;
 }
}
